.searchbar {
    position: relative;
    margin-right: 50px;
    width: 482px;
}

.searchbar img{
    position: absolute;
    left: 20px;
    top: 10px;
}

.avatar {
    height: 60px;
    width: 60px;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
justify-content: space-between;
align-items: center;
}